<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="1.0.0.0" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="Environment" value="Debug" />

  <add key="EmailAddress" value="mptest@takepara.com"/>
  <add key="Pop3.Secure" value="false" />
  <add key="Pop3.Server" value="mail.takepara.com"/>
  <add key="Pop3.Port" value="110" />
  <add key="Pop3.UserName" value="mptest@takepara.com" />
  <add key="Pop3.Password" value="Pa$$w0rd" />

  <add key="Storage.UseCloud" value="false"/>
  <add key="Storage.Cache" value="App_Data\Cache" />
  <add key="Storage.Uploading" value="App_Data\Uploading" />
  <add key="Storage.Local" value="App_Data\Storage" />

  <add key="Worker.Storage" value="true"/>
  <add key="Worker.Mail" value="true"/>

  <add key="AWS.AccessKey" value="AKIAIOHDVEB2LK2REYSQ" />
  <add key="AWS.SecretKey" value="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" />
  <add key="AWS.BucketName" value="mvcphotos-test" />
</appSettings>
