<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="mvcPhotos"
         connectionString="Data Source=LOCAL_SQL2008;Initial Catalog=mvcPhotos;Integrated Security=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Storage.UseCloud" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailAddress" value="mvcphotos@takepara.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Pop3.Server" value="mail.takepara.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Pop3.Port" value="110" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Pop3.UserName" value="mvcphotos@takepara.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Pop3.Password" value="MvcPhotos@611" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="AWS.AccessKey" value="AKIAIOHDVEB2LK2REYSQ" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AWS.SecretKey" value="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" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AWS.BucketName" value="mvcphotos-us" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>