<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="mvcPhotos"
         connectionString="Server=mssql01.dataweb-ad.jp;Database=mvcPhotos;Uid=takepara;Password=1192Kamakura!;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Storage.UseCloud" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailAddress" value="mvcphotos@takepara.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Storage.Cache" value="..\data\Cache" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Storage.Uploading" value="..\data\Uploading" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Storage.Local" value="..\data\Storage" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Pop3.Server" value="mail.takepara.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Pop3.Port" value="110" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Pop3.UserName" value="mvcphotos@takepara.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Pop3.Password" value="MvcPhotos@611" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="AWS.AccessKey" value="AKIAIOHDVEB2LK2REYSQ" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AWS.SecretKey" value="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" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AWS.BucketName" value="mvcphotos-us" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Enable.StorageWorker" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Enable.MailWorker" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Enable.Upload" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <outboundRules>
        <rule name="CloudFrontContents" preCondition="html" enabled="true">
          <match filterByTags="A,Img" pattern="^/Photos/Image/(.*)"/>
          <action type="Rewrite" value="//cdn.mvcphotos.takepara.com/Photos/Image/{R:1}"/>
          <conditions>
            <add input="{HTTPS}" pattern="^off$"/>
          </conditions>
        </rule>
        <preConditions>
          <preCondition name="html">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="text/html"/>
            <add input="{REQUEST_URI}" pattern="/mobile" negate="true"/>
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>