<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings configSource="appSettings.config"/>
  <!--
  <appSettings configSource="">
    <add key="Environment" value="Debug"/>
    <add key="Pop3.Server" value="***"/>
    <add key="Pop3.Port" value="110"/>
    <add key="Pop3.UserName" value="***"/>
    <add key="Pop3.Password" value="***"/>

    <add key="AWS.AccessKey" value="***"/>
    <add key="AWS.SecretKey" value="***"/>
    <add key="AWS.BucketName" value="***"/>
  </appSettings>
  -->
  
  <system.net>
    <mailSettings>
      <smtp configSource="smtp.config" />
      <!--
      <smtp from="***">
        <network host="***"
                 userName="***"
                 password="***"
                 port="***"/>
      </smtp>
      -->

    </mailSettings>
  </system.net>
</configuration>