<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  <appSettings configSource="appSettings.config"/>
  -->
  <appSettings>
    <add key="Environment" value="Debug" />
    <add key="Pop3.Server" value="***" />
    <add key="Pop3.Port" value="110" />
    <add key="Pop3.UserName" value="***" />
    <add key="Pop3.Password" value="***" />
    <add key="AWS.AccessKey" value="***" />
    <add key="AWS.SecretKey" value="***" />
    <add key="AWS.BucketName" value="***" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.net>
    <mailSettings>
      <!--
      <smtp configSource="smtp.config" />
      -->
      <smtp from="***">
        <network host="***" userName="***" password="***" port="***" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>