<?xml version="1.0" encoding="utf-8" ?>
<appSettings configSource="">
  <add key="Environment" value="Debug"/>
  <add key="Pop3.Server" value="mail.takepara.com"/>
  <add key="Pop3.Port" value="110"/>
  <add key="Pop3.UserName" value="test@takepara.com"/>
  <add key="Pop3.Password" value="Pa$$w0rd"/>

  <add key="AWS.AccessKey" value="AKIAIOHDVEB2LK2REYSQ"/>
  <add key="AWS.SecretKey" value="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"/>
  <add key="AWS.BucketName" value="mvcphotos-test"/>
</appSettings>
