@model MvcPhotos.Web.Models.Photo

<h2>アップロードは無効です</h2>

@section css
{
    <style>
    html
    {
        overflow:hidden;    
        height:500px;
    }
    body
    {
        color:#000;
        background-color:#fff;
        height:500px;
    }
    .create_body
    {
        padding: 4pt;
    }
    .create_form div
    {
        font-size:20pt;
        font-weight:bold;
    }
    .create_form input
    {
        width: 20em;
    }
    .create_form textarea
    {
        width: 20em;
        height:4em;
    }
    </style>
}
