<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
    <title>@(ViewBag.Title ?? "mvcPhotos")</title>
    @RenderSection("css", false)
</head>

<body>
    <h1>mvcPhotos</h1>

    @RenderBody()
</body>
</html>